@mixin radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing($borderSize){
  -webkit-box-sizing: $borderSize;
  -moz-box-sizing: $borderSize;
  box-sizing: $borderSize;
}
@mixin transition($transition){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}
@mixin text-shadow($textShadow){
  -webkit-text-shadow: $textShadow;
  -moz-text-shadow: $textShadow;
  text-shadow: $textShadow;
}
@mixin box-shadow($boxShadow){
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}