// -------------------------------------
//   FOOTER
// -------------------------------------

.footer{
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  background-color: $navBorder;
}
.footer-inner{
  margin: 0 auto;
  text-align: center;
  padding: 55px;
}
.footer-inner__title{
  font-size: 16px;
  color: $inputText;
  margin: 0 0 38px 0;
}
.footer-inner__social-link{
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-left: 30px;
  &:first-child{
    margin-left: 0;
  }
}
.fa-social{
  font-size: 50px;
}