.footer-inner__social-link__fb, .footer-inner__social-link__git, .footer-inner__social-link__instag, .footer-inner__social-link__tw, .section-team__social-link-tw, .section-team__social-link-fb, .section-team__social-link-in, .section-team__social-link-mail, .footer-inner__social-link__ball{
	background: url(sprites.png) no-repeat;
}

.footer-inner__social-link__fb{
	background-position: -53px -55px;
}

.footer-inner__social-link__git{
	background-position: 0 -56px;
}

.footer-inner__social-link__instag{
	background-position: -105px 0;
}

.footer-inner__social-link__tw{
	background-position: -50px 0;
}

.section-team__social-link-tw{
	background-position: -101px -80px;
}

.section-team__social-link-fb{
	background-position: -128px -79px;
}

.section-team__social-link-in{
	background-position: -129px -51px;
}

.section-team__social-link-mail{
	background-position: -101px -50px;
}

.footer-inner__social-link__ball{
	background-position: 0 0;
}

