@font-face {
    font-family: 'ralewayLight';
    src: url('../fonts/RalewayLight.eot');
    src: url('../fonts/RalewayLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RalewayLight.woff') format('woff'),
         url('../fonts/RalewayLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	
@font-face {
    font-family: 'ralewayRegular';
    src: url('../fonts/RalewayRegular.eot');
    src: url('../fonts/RalewayRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RalewayRegular.woff') format('woff'),
         url('../fonts/RalewayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}	
@font-face {
    font-family: 'oxygenbold';
    src: url('../fonts/oxygen-bold-webfont.eot');
    src: url('../fonts/oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-bold-webfont.woff2') format('woff2'),
         url('../fonts/oxygen-bold-webfont.woff') format('woff'),
         url('../fonts/oxygen-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oxygenlight';
    src: url('../fonts/oxygen-light-webfont.eot');
    src: url('../fonts/oxygen-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-light-webfont.woff2') format('woff2'),
         url('../fonts/oxygen-light-webfont.woff') format('woff'),
         url('../fonts/oxygen-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oxygenregular';
    src: url('../fonts/oxygen-regular-webfont.eot');
    src: url('../fonts/oxygen-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oxygen-regular-webfont.woff2') format('woff2'),
         url('../fonts/oxygen-regular-webfont.woff') format('woff'),
         url('../fonts/oxygen-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}